<article class="container about">
    <section class="index">
        <h1>Hakkında</h1>
        <p class="lead">
            Bu site, versiyon kontrol sistemi git ile ilgili Türkçe kaynak sağlamak
            amacıyla, <a href="http://git-scm.com/book">Pro Git</a> kitabı’nın yazarı 
            <a href="http://twitter.com/chacon">Scott “Draper” Chacon</a>‘un
            <a href="http://git-tips.heroku.com/">http://git-tips.heroku.com/</a> adlı sitesinden esinlenerek hazırlanmıştır.
        </p>
        <p>
            Eğer siz de katkıda bulunmak isterseniz lütfen <a href="http://twitter.com/GiT_Tips_TR">@GiT_Tips_TR</a>
            adresine tweet gönderin ya da <a href="#">repo</a>&rsquo;yu fork edip PR yapın!
        </p>
    </section>
    <section class="index">
        <h3>Lisans</h3>
        <ul>
            <li>Bu sitedeki yazıları gönül rahatlığıyla kullanabilirsiniz.</li>
            <li>Bu sitedeki bilgiler, kendi araştırmalarım, başka internet siteleri ve ilgili kitaplardan derlenmiştir.</li>
        </ul>
    </section>
</article>
