<section class="pagination">
    <% if prev_page %>
        <%= link_to "‹ #{t('messages.previous_posts')}", prev_page, :class => "btn btn-outline" %>
    <% end %>
    <%
    if num_pages
        (1..num_pages).each do |n|
            if n > 1
            %>
            <span class="number-pages hidden-xs"><%= link_to n, "/" + blog.options.page_link.sub("{num}", "#{n}") + "/", :class => "btn btn-outline" %></span>
            <%
            end
        end
    end
    %>

    <% if next_page %>
        <%= link_to "#{t('messages.next_posts')} ›", next_page, :class => "btn btn-outline" %>
    <% end %>
</section>
