article.tags {
    h1 {
        color: lighten($text, 25);
    }
    h1 > span {
        color: lighten($accent, 10);
        &:before { content: "\201C"; }
        &:after { content: "\201D"; }
    }
}

article.archive {
    h1 {
        color: saturate($accent, 80);
    }
}

div.tags {
    margin-top: .8em;
    a {
        color: white;
    }
}

section.archive-list {
    h2 {
        color: darken($accent, 10);
        border-bottom: 2px solid darken($accent, 10);
        padding-bottom: 4px;
    }
}


.flash-video {
    margin: 0 auto 1.5em;
    > div {
        position: relative;
        display: block;
        padding-bottom: 56.25%;
        padding-top: 1px;
        height: 0;
        overflow: hidden;
        iframe, object, embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.pagination {
    a.current-page {
        background-color: #1c699c;
        color: white;
    }
}